@font-face {
  font-family: "Commodore PET";
  src: url("../fonts/PetMe.ttf");
}
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #140c0e;
  -webkit-font-smoothing: antialiased;
}

.grid-background {
  transform-style: preserve-3d;
  position: fixed;
  bottom: 0;
  left: -1px;
  width: calc(100% + 1px);
  height: 100%;
  background-color: #140c0e;
  background-image: linear-gradient(to right, #ff004b, #ff004b 6px, transparent 6px, transparent 75px), linear-gradient(to bottom, #ff004b, #ff004b 6px, transparent 6px, transparent 75px);
  background-size: 75px 75px;
  transform: perspective(900px) rotateX(70deg) scale(1.2);
  transform-origin: 50% 40%;
}
.grid-background:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to top, transparent, #140c0e 50%);
  pointer-events: none;
}

.terminal {
  border: 4px solid #ff004b;
  width: 50vw;
  height: 70vh;
  background-color: #1b1b1b;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  z-index: 1000;
}
@media (orientation: portrait) {
  .terminal {
    height: 70vh;
    width: 80vw;
  }
}

.title-bar {
  background-color: #ff004b;
  color: #fff;
  padding: 5px;
  text-align: left; /* Align the title to the left */
  font-weight: bold;
  font-family: "Commodore PET", monospace, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0px;
}
.title-bar .close-btn {
  cursor: pointer;
  float: right; /* Move the close button to the right */
}
.title-bar:before {
  content: "[root@archlinux /]#"; /* Title */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: repeating-linear-gradient(0deg, #080808, #080808 2px, transparent 2px, transparent 4px);
  background-blend-mode: overlay;
  opacity: 0.2;
  pointer-events: none;
}

.content {
  padding: 0;
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  row-gap: 5vh;
  -moz-column-gap: 8vw;
       column-gap: 8vw;
}

.language-option {
  width: 12vw;
  margin: 0px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Commodore PET";
  /* Add the following to prevent text from breaking into multiple lines */
  white-space: nowrap;
  text-overflow: ellipsis;
}
.language-option img {
  width: 7vw;
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Webkit (Safari now, Chrome & Opera older) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
  margin-bottom: -5px;
}
@media (orientation: portrait) {
  .language-option img {
    width: 10vh;
  }
}
.language-option span {
  display: block;
  color: #fff;
  font-weight: bold;
  margin-top: 20px;
  background-color: transparent;
  transition: background-color 0.3s ease-out;
}
.language-option:hover span {
  background-color: #ff004b;
  transition: background-color 0.3s ease-in;
}

.terminal, .title-bar {
  box-sizing: border-box;
}

#static-effect {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none; /* So it doesn't interfere with other interactions */
  opacity: 0.1; /* You can adjust the opacity as needed */
}

@media (orientation: portrait) {
  .terminal {
    width: 75%;
  }
  .content {
    flex-direction: column;
  }
  .language-option {
    margin-bottom: 20px;
  }
  .grid-background {
    background-image: linear-gradient(to right, #ff004b, #ff004b 4px, transparent 4px, transparent 50px), linear-gradient(to bottom, #ff004b, #ff004b 4px, transparent 4px, transparent 50px);
    background-size: 50px 50px;
  }
}/*# sourceMappingURL=language.css.map */