@font-face {
  font-family: "Commodore PET";
  src: url("../fonts/PetMe2.ttf");
}
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #140c0e;
  -webkit-font-smoothing: antialiased;
}

.grid-background {
  transform-style: preserve-3d;
  position: fixed;
  bottom: 0;
  left: -1px;
  width: calc(100% + 1px);
  height: 100%;
  background-color: #140c0e;
  background-image: linear-gradient(to right, #ff004b, #ff004b 6px, transparent 6px, transparent 75px), linear-gradient(to bottom, #ff004b, #ff004b 6px, transparent 6px, transparent 75px);
  background-size: 75px 75px;
  transform: perspective(900px) rotateX(70deg) scale(1.2);
  transform-origin: 50% 40%;
}
.grid-background:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to top, transparent, #140c0e 50%);
  pointer-events: none;
}

.head-terminal {
  border: 4px solid #ff004b;
  width: 60vw;
  height: 20vh;
  background-color: #1b1b1b;
  position: fixed;
  top: 2vh;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  z-index: 1000;
}
@media (orientation: portrait) {
  .head-terminal {
    height: 10vh;
    width: 90vw;
  }
}

.domain-name {
  margin-bottom: 3vh;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-family: "Commodore PET";
  font-size: 3vw;
}
@media (orientation: portrait) {
  .domain-name {
    font-size: 4.5vw;
    margin-bottom: 4vw;
  }
}

.title-bar {
  background-color: #ff004b;
  color: #fff;
  padding: 5px;
  text-align: left;
  font-weight: bold;
  font-family: "Commodore PET", monospace, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0px;
  font-size: 1em;
}
@media (orientation: portrait) {
  .title-bar {
    font-size: 0.7em;
  }
}
.title-bar .close-btn {
  cursor: pointer;
  float: right;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: repeating-linear-gradient(0deg, #080808, #080808 2px, transparent 2px, transparent 4px);
  background-blend-mode: overlay;
  opacity: 0.2;
  pointer-events: none;
}

.content {
  padding: 0;
  margin-top: 0px;
  margin-bottom: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  row-gap: 1vh;
  -moz-column-gap: 0vw;
       column-gap: 0vw;
  flex-direction: column;
}

.body-terminal {
  border: 4px solid #ff004b;
  width: 60vw;
  height: 71vh;
  background-color: #1b1b1b;
  position: absolute;
  top: 25.5vh;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  z-index: 999;
}
@media (orientation: portrait) {
  .body-terminal {
    height: 70vh;
    width: 90vw;
    top: 15vh;
  }
}

.body-content {
  padding: 20px;
  color: #fff;
  font-family: "Commodore PET", monospace, sans-serif;
}

.content-main {
  padding: 0;
  margin-top: 0px;
  margin-bottom: 4vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  position: relative;
  row-gap: 1vh;
  -moz-column-gap: 0vw;
       column-gap: 0vw;
  flex-direction: column;
}

p {
  font-family: "Commodore PET", monospace, sans-serif;
  font-weight: normal;
  font-size: 1.1vw;
  margin: 1%;
  color: #fff;
  line-height: 1.5;
}
@media (orientation: portrait) {
  p {
    font-size: 3vw;
    margin: 2%;
  }
}

.link-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 2vh;
  font-family: "Commodore PET", monospace, sans-serif;
  font-weight: bolder;
}
.link-options .link-option {
  font-weight: bolder;
  text-align: center;
  margin: 5px;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}
.link-options .link-option:hover {
  background-color: #ff004b;
  transition: background-color 0.3s ease-in;
}

.disclaimer span {
  font-family: "Commodore PET", monospace, sans-serif;
  font-weight: normal;
  font-size: 1.1vw;
  margin: 1%;
  color: #fff;
  line-height: 1.5;
}
@media (orientation: portrait) {
  .disclaimer span {
    font-size: 3vw;
    margin: 2%;
  }
}/*# sourceMappingURL=main.css.map */