/* is the sass compiler on? */
$primary: #fff;
$accent:  #ff004b;
$background: #141414;

body {
  background-color: $background;
  border: 5px solid $accent;
}


/* set font-family */
html, body, input, textarea, select, button {
    font-family: 'Anonymous Pro', monospace;
}

h1 {
    white-space:nowrap;
    overflow:visible;
  text-align: center;
  color: $primary;
  font-weight: bold;
  font-size: 2.25vw;
  margin: 0;
  padding: 0;
}
/* mobile optimization */
@media (orientation: portrait) {
  h1 {
    font-size: 4.25vw;
  }
}


h2 {
    white-space:nowrap;
    overflow:visible;
  text-align: center;
  color: $accent;
  font-weight: normal;
  font-size: 1.75vw;
  margin: 0;
  padding: 0;
}
/* mobile optimization */
@media (orientation: portrait) {
  h2 {
    font-size: 3.25vw;
  }
}


h3 {
    white-space:nowrap;
    overflow:visible;
  text-align: center;
  color: $primary;
  font-weight: normal;
  font-size: 2vw;
  margin: 0;
  padding: 0;
}

/* make <a> fit style */
a {
    white-space:nowrap;
    overflow:visible;
  text-align: center;
  color: $accent;
  font-weight: normal;
  font-size: 1vw;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
/* mobile optimization */
@media (orientation: portrait) {
  a {
    font-size: 5vw;
  }
}


/* center maintenance text */
.center {
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    padding: 2vw;
    background-color: #282828;
    border: 5px solid $accent;
  }

    .particles-js {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        background-color: $background;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 5px solid $accent;
    }
/* footer */
.bottom {
    margin: auto;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    text-align: center;
    padding: 0.50vw;
    background-color: #282828;
    border: 5px solid $accent;
}
/* mobile padding */
@media (orientation: portrait) {
  .center {
    padding: 3vw;
  }
  .bottom {
    padding: 2.25vw;
  }
}