/* ======================================================================= */
/* ===== REMEMBER TO TURN ON THE SCSS COMPILER BEFORE MAKING CHANGES ===== */
/* =====     OR AT LEAST MAKE SURE THE SCSS COMPILER IS ENABLED      ===== */
/* =====         BEFORE YOU THINK THAT THE CODE IS BROKEN.           ===== */
/* ======================================================================= */



/* create variables for the colors */
/* the colors will be for the background, primary color, and the accent color */
$primary: #fff;
$accent:  #ff004b;
$background: #141414;


/* set background color to the background variable */
body {
  background-color: $background;
  border: 5px solid $accent;
}


/* set font-family to Anonymous Pro Mono */
html, body, input, textarea, select, button {
    font-family: 'Anonymous Pro', monospace;
}

/* set the color of h1 to the primary variable and center it */
/* also make the font bold and huge, make the size 4vw and in one line */
h1 {
    white-space:nowrap;
    overflow:visible;
  text-align: center;
  color: $primary;
  font-weight: bold;
  font-size: 2.25vw;
  margin: 0;
  padding: 0;
}
/* make h1 fit vertical screens */
/* instead of using max-width, use orientation:portrait */
@media (orientation: portrait) {
  h1 {
    font-size: 4.25vw;
  }
}


/* make h2 the same as h1, but set the color to the accent variable */
/* make the font not bold and a little smaller, make the size 3vw */

h2 {
    white-space:nowrap;
    overflow:visible;
  text-align: center;
  color: $accent;
  font-weight: normal;
  font-size: 1.75vw;
  margin: 0;
  padding: 0;
}
/* make h2 fit vertical screens */
/* instead of using max-width, use orientation:portrait */
@media (orientation: portrait) {
  h2 {
    font-size: 3.25vw;
  }
}

/* make h3 the same as h2, but the size is 2vw and it's the primary color */
h3 {
    white-space:nowrap;
    overflow:visible;
  text-align: center;
  color: $primary;
  font-weight: normal;
  font-size: 2vw;
  margin: 0;
  padding: 0;
}

/* make <a> the same as h3, but the the color is the accent color */
/* also remove the underline as it doesn't fit the design */
a {
    white-space:nowrap;
    overflow:visible;
  text-align: center;
  color: $accent;
  font-weight: normal;
  font-size: 1vw;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
/* make <a> fit vertical screens */
/* instead of using max-width, use orientation:portrait */
@media (orientation: portrait) {
  a {
    font-size: 5vw;
  }
}


/* make a div that will be centered horizontally and vertically */
/* it will be used to center both the h1 and h2 */
/* the div will be named center */
.center {
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    padding: 2vw;
    background-color: #282828;
    border: 5px solid $accent;
  }

  /* make a div to put particles.js in */
    /* the div will be named particles-js */

    .particles-js {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        background-color: $background;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 5px solid $accent;
    }
/* make another div the same as the center div but it's going to be centered horizontally and its going to be on the bottom of the page */
/* the div will be named bottom */
.bottom {
    margin: auto;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    text-align: center;
    padding: 0.50vw;
    background-color: #282828;
    border: 5px solid $accent;
}
/* padding is too small on mobile */
/* we're going to use the same fix that we did for the h1 */
/* that way center and bottom will have proper padding */
@media (orientation: portrait) {
  .center {
    padding: 3vw;
  }
  .bottom {
    padding: 2.25vw;
  }
}